<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5mNqnXTndhIy9PV_CpCQtWwuBfFsaln8</string>
	<key>GCM_SENDER_ID</key>
	<string>567322774659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tobiascasazza.alicorn</string>
	<key>PROJECT_ID</key>
	<string>alicorn-font</string>
	<key>STORAGE_BUCKET</key>
	<string>alicorn-font.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567322774659:ios:b18627adf48b4381559fb6</string>
</dict>
</plist>